{% extends 'AppBundle:Default:User/template.html.twig' %}

{% block title %}
    My posts: {{ user.username }}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    
    {% javascripts
        '@AppBundle/Resources/public/js/User/myposts.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}
    
    <div class="myposts">
        {% include 'AppBundle:Default:Etc/MyPostsList/list.html.twig' %}
    </div>
    
{% endblock %}














